# Common entries
node_modules
.env
.DS_Store
.thumbs
dist
build
coverage
tmp
log
npm-debug.log
yarn-debug.log
yarn-error.log
pids
*.seed
*.local
*.log
*.cache
*.tmp
*.pid
*.swp
*.suo
*.sln
*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.o
*.log
*.manifest
*.map
*.pdb
*.userprefs
*.vs
*.vspscc
*.vssscc
*.scc
*.class
*.psd1
*.psd
*.vscode
*.suo
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
